<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={Plug.CSRFProtection.get_csrf_token()} />
    <.live_title>{assigns[:page_title] || "Pageless"}</.live_title>
    <link phx-track-static rel="stylesheet" href="/assets/app.css" />
    <script defer phx-track-static type="text/javascript" src="/assets/app.js">
    </script>
  </head>
  <body>
    <main>
      {@inner_content}
    </main>
  </body>
</html>
